<!DOCTYPE html>
<html class="no-js css-menubar" lang="<?= Yii::$app->language ?>">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">

    <title>{% block title %}Report.az{% endblock %}</title>

    <link rel="apple-touch-icon" href="{{ asset('admin/remark/assets/images/apple-touch-icon.png') }}">
    <link rel="shortcut icon" href="{{ asset('admin/remark/assets/images/favicon.png') }}">

    {% block stylesheets %}
        <link href="{{ asset('admin/remark/global/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('admin/remark/global/css/bootstrap-extend.min.css') }}" rel="stylesheet">
        <link href="{{ asset('admin/remark/assets/css/site.min.css') }}" rel="stylesheet">

        <link href="{{ asset('admin/remark/global/vendor/animsition/animsition.css') }}" rel="stylesheet">
        <link href="{{ asset('admin/remark/global/vendor/switchery/switchery.css') }}" rel="stylesheet">
        <link href="{{ asset('admin/remark/global/vendor/slidepanel/slidePanel.css') }}" rel="stylesheet">
        <link href="{{ asset('admin/remark/global/vendor/flag-icon-css/flag-icon.css') }}" rel="stylesheet">

        <link href="{{ asset('admin/css/site.css') }}" rel="stylesheet">

        <link href="{{ asset('admin/remark/global/fonts/web-icons/web-icons.min.css') }}" rel="stylesheet">
        <link href="{{ asset('admin/remark/global/fonts/brand-icons/brand-icons.min.css') }}" rel="stylesheet">
        <link href="{{ asset('admin/remark/global/fonts/material-design/material-design.min.css') }}" rel="stylesheet">
        <link href="{{ asset('admin/remark/global/fonts/font-awesome/font-awesome.min.css') }}" rel="stylesheet">

        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic" rel="stylesheet">
    {% endblock %}

    <!--[if lt IE 9]>
    <script src="{{ asset('admin/remark/global/vendor/html5shiv/html5shiv.min.js') }}"></script>
    <![endif]-->

    <!--[if lt IE 10]>
    <script src="{{ asset('admin/remark/global/vendor/media-match/media.match.min.js') }}"></script>
    <script src="{{ asset('admin/remark/global/vendor/respond/respond.min.js') }}"></script>
    <![endif]-->

    <!-- Scripts -->
    <script src="{{ asset('admin/remark/global/vendor/breakpoints/breakpoints.js') }}"></script>
    <script>Breakpoints();</script>
</head>
<body class="animsition">

<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a
        href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<nav class="site-navbar navbar navbar-default navbar-fixed-top navbar-mega" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggler hamburger hamburger-close navbar-toggler-left hided"
                data-toggle="menubar">
            <span class="sr-only">Toggle navigation</span>
            <span class="hamburger-bar"></span>
        </button>
        <button type="button" class="navbar-toggler collapsed" data-target="#site-navbar-collapse"
                data-toggle="collapse">
            <i class="icon md-more" aria-hidden="true"></i>
        </button>
        <div class="navbar-brand navbar-brand-center site-gridmenu-toggle">
            <a href="<?= Yii::$app->homeUrl ?>">
                <img alt="" class="navbar-brand-logo" src="{{ asset('admin/remark/assets/images/logo.png') }}" title="Remark">
                <span class="navbar-brand-text hidden-xs-down"> RiaCMS</span>
            </a>
        </div>
        <button type="button" class="navbar-toggler collapsed" data-target="#site-navbar-search"
                data-toggle="collapse">
            <span class="sr-only">Toggle Search</span>
            <i class="icon md-search" aria-hidden="true"></i>
        </button>
    </div>
</nav>


<div class="site-menubar">
    <div class="site-menubar-body">
        <div>
            <div>
                <ul class="site-menu" data-plugin="menu">
                    <li class="site-menu-item">
                        <a class="animsition-link" href="#">
                            <i class="site-menu-icon fa fa-gears" aria-hidden="true"></i>
                            <span class="site-menu-title">Test</span>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <div class="site-menubar-footer">

    </div>

</div>

<!-- Page -->
<div class="page">
    <div class="page-header">
        <div class="page-header-actions">
            {% block header_actions %} {% endblock %}
        </div>
    </div>

    <div class="page-content">
        {% block content %} {% endblock %}
    </div>
</div>
<!-- End Page -->

<!-- Footer -->
<footer class="site-footer">
    <div class="site-footer-legal">© 2020 <a href="#">RiaCMS</a></div>
</footer>

{% block javascripts %}
    <script src="{{ asset('admin/remark/global/vendor/babel-external-helpers/babel-external-helpers.js') }}"></script>
    <script src="{{ asset('admin/remark/global/vendor/jquery/jquery.js') }}"></script>
    <script src="{{ asset('admin/remark/global/vendor/popper-js/umd/popper.min.js') }}"></script>
    <script src="{{ asset('admin/remark/global/vendor/bootstrap/bootstrap.js') }}"></script>
    <script src="{{ asset('admin/remark/global/vendor/animsition/animsition.js') }}"></script>
    <script src="{{ asset('admin/remark/global/vendor/mousewheel/jquery.mousewheel.js') }}"></script>
    <script src="{{ asset('admin/remark/global/vendor/asscrollbar/jquery-asScrollbar.js') }}"></script>
    <script src="{{ asset('admin/remark/global/vendor/asscrollable/jquery-asScrollable.js') }}"></script>
    <script src="{{ asset('admin/remark/global/vendor/ashoverscroll/jquery-asHoverScroll.js') }}"></script>

    <script src="{{ asset('admin/remark/global/js/Component.js') }}"></script>
    <script src="{{ asset('admin/remark/global/js/Plugin.js') }}"></script>
    <script src="{{ asset('admin/remark/global/js/Base.js') }}"></script>
    <script src="{{ asset('admin/remark/global/js/Config.js') }}"></script>

    <script src="{{ asset('admin/remark/assets/js/Section/Menubar.js') }}"></script>
    <script src="{{ asset('admin/remark/assets/js/Section/GridMenu.js') }}"></script>
    <script src="{{ asset('admin/remark/assets/js/Section/Sidebar.js') }}"></script>
    <script src="{{ asset('admin/remark/assets/js/Section/PageAside.js') }}"></script>
    <script src="{{ asset('admin/remark/assets/js/Plugin/menu.js') }}"></script>

    <script src="{{ asset('admin/remark/global/js/config/colors.js') }}"></script>

    <script>
        Config.set('assets', '../assets');
    </script>

    <script src="{{ asset('admin/remark/assets/js/Site.js') }}"></script>
    <script src="{{ asset('admin/js/common.js') }}"></script>

    <script>
        (function (document, window, $) {
            'use strict';

            const Site = window.Site;

            $(document).ready(function () {
                Site.run();
            });
        })(document, window, jQuery);
    </script>
{% endblock %}

</body>
</html>